body {
  margin: 0;
  padding: 0;
  background: rgb(85, 174, 186);
  background: linear-gradient(0deg, rgb(34, 101, 110) 31%, rgb(21, 72, 77) 59%);
}

.main {
  width: 80%;
  height: 40vh;
  margin: auto;
  border-radius: 10px;
}

.main__h2 {
  margin-top: 3rem;
  text-align: center;
  font-family: Roboto sans-serif;
  font-size: 2em;
  color: rgb(245, 243, 243);
}
.section {
  text-align: center;
  margin-top: 3rem;
}

.section__input {
  background-color: rgb(105, 101, 119);
  font-size: 1.2rem;
  padding: 5px 5px 10px;
  border: 1px solid white;
  color: white;
  text-align: center;
  margin-right: 15px;
}
.section__input::placeholder {
  color: white;
}

.section__button {
  text-align: center;

  font-size: 1.2rem;
  color: white;
  padding: 8px 10px;
  background: #1e8386;
  border: none;
}

.section__button:hover {
  background: #07d3da;
}

.section__resultado {
  margin: auto;
  border: 1px solid white;
  background: rgba(24, 23, 23, 0.8);
  padding: 10px 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
  width: 450px;
  border-radius: 15px;
  overflow: hidden;
  text-align: center;
}

@media (min-width: 320px) and (max-width: 767px) {
  .section__resultado {
    width: 80%;
  }
}

.section__resultado > li {
  color: white;
  font-size: 1.4rem;
  padding: 2px;
}
